@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #aaa;
    font-family: 'Roboto', sans-serif;
}

#search {
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-btn {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}